.box1{
  margin: 2em;
  padding: 12.5em 1em;
  box-shadow: 3px 3px 5px #222;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-image: url("../img/lomitoprincipal.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; 
}

@media(max-width: 480px)
{
  .box1{
    background-image: url("../img/lomito.jpg");
  }

}
