body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(17, 10, 2);
    font-family: 'Montserrat', sans-serif;
}

header{
    height: auto;
    width: 100%;
    position: relative;
    margin: 0px;    
    padding: 1em;
    background-color: rgb(17, 9, 1);
    color: white;       

}

header h1{
line-height: 1.31em;
text-align: center;
display: block;
}

header nav{
    margin: 0px;
    padding: 0px;
}

header nav ul{
    list-style: none;   
    text-align: center;    
}

header nav ul li{
   display: inline;   
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
   border-bottom: 1px solid #fff;
   padding: 1px 3px;
}

header nav a{
    text-decoration: none;
    color: #fff;
    padding: 1em;
}

/*header nav a:hover{
    background-color: rgb(189, 189, 189);
    border-color: #fff;
  }*/

.box1{
    margin: 3em 6em;
    padding: 15em 0px;
    
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    background-image: url("../img/Doges.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.2em;
    
  }

  section div a{
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 1em;      
  }

  section div a:hover{
    background-color: rgb(163, 163, 163);
    border-color: #fff;
  }

  .SobreNos{
      background-color: #78B052  ;
      margin: 0px;
      display: flex;        
      
  }

  .box2{
    margin: 2em;    
    padding: 2em 0px;
    box-shadow: 3px 3px 5px #222;
    background-color: #BDF497;    
    text-align: center;       
    position: relative; 
    font-size: 20px;
  }
  section div h3{
      color:#43622D;
  }

  section div p{
      margin: 1em;
      padding: 1em;
      text-align: justify;
}


  .box3{
    margin: 2em;    
    box-shadow: 3px 3px 5px #222;  
    background-color: #BDF497;  
    position: relative;
    overflow: hidden;
    /*background-image: url("../img/Patitas.png");
    background-repeat: no-repeat;
    background-size: cover;*/
  }

  .box3 img{
      max-width: 100%;
      max-height: 100%;
  }
  

  .ser{
      margin: 0px;
      padding: 3em 5em;
      color: #fff;
      text-align: center;
      text-shadow: 2px 2px 3px #222;
      
  }

  .ser h2{
      font-size: 2em;
  }

  .boxser{
    margin: 3em 6em;    
    box-shadow: 3px 3px 5px #222;
    position: relative;
    overflow: hidden;
    background-color: #222;
    display: flex;
  }

  .cajita1{
      margin: 0px;      
      background-color: rgb(143, 218, 90);
      text-align: center;
      color: #fff;
      text-shadow: 2px 2px 3px #222;      
  }

  .cajita2{
    margin: 0px;      
    background-color: rgb(114, 177, 250);
    text-align: center;      
    color: #fff;
    text-shadow: 2px 2px 3px #222;
      

}  .cajita3{
    margin: 0px;      
    background-color: rgb(211, 172, 99);
    text-align: center;      
    color: #fff;
    text-shadow: 2px 2px 3px #222;
      
}

  section div div img{
      max-width: 100%;
      margin: 0px;
      padding: 0px;
  }

  section div div h3{
      color: #fff;
  }